@page "/"

@using AntDesign.Select

<PageTitle>Index</PageTitle>

<h1>Ant Design Multiselect Issue</h1>
<hr />
<p>Multiselect field:</p>
<Select Mode="multiple"
                Placeholder="Items"
                DataSource="Items"
		        @bind-Values="selectedItems"
		        TItemValue="string"
		        TItem="string"
                Style="width:100%;"
                DropdownMatchSelectWidth=@false
                HideSelected=@false
                Size="small"
                MaxTagCount="@ResponsiveTag.Responsive"
                IgnoreItemChanges="false"
		        AllowClear/>
<hr/>
<p>
    When using Select in multiple mode, with <b>IgnoreItemChanges="false"</b> AND <b>MaxTagCount="@ResponsiveTag.Responsive"</b> 
    removing of one of the chosen category leads to Blazor exception.
</p>
<p>    Steps to reproduce:
    <ol>
        <li>Choose <b>Item 001</b>, <b>Item 002</b> and <b>Item 003</b> from list above</li>
        <li>Click on "<b>x</b>" (=remove item) on <b>Item 003</b></li>
        <li>Observe exception "Unhandled exception rendering component: More than one sibling of element 'div' has the same key value, 'xxx-xxx-xxx'. Key values must be unique."</li>
    </ol>
</p>

@code {
    private IEnumerable<string>? selectedItems = new List<string>();
    private string[] Items = Enumerable.Range(1, 15).Select(i => $"Item {i:000}").ToArray();
}